---
layout: splash
author_profile: false
---
<style type="text/css">
    .page__content {
        width: 80%;
        margin: auto;
    }
</style>

<!--<img src="/assets/images/Scond_Wind_5_Logo_Clear.png" alt="Banner image">-->

{{ content }}

<h2>News</h2>
<ul class="post-list">
    {% for post in site.categories["news"] %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </li>
    {% endfor %}
  </ul>

<h2 class="archive__subtitle">About</h2>

<h4>Format:</h4>
Squad Goals is a 3-player Team Event following the Standard timeline <br/>
Full details and team construction rules <a href="/rules/">here</a>
<h4>Date:</h4>
May 18th-19th 2024
<h4>Location:</h4>
Pastimes Comics & Games, 233 Golf Mill Drive Entrance, 8, Niles, IL 60714<br/>
<h4>Teams:</h4> 
The cap is 32 teams of 3 players<br/>
<h4>Longshanks:</h4> 
<a href="https://www.longshanks.org/event/13057/">https://www.longshanks.org/event/13057/</a><br/>
<h4>Contact:</h4> 
<a href="mailto:squadgoalsmcp@gmail.com">SquadGoalsMCP@gmail.com</a><br/>

<h4>Sponsors:</h4> 
<a href="https://twitter.com/AlfredosTaco" target="_blank"><img src="/assets/images/size3.png" width="125" height="125"/></a>
<a href="https://www.adepticon.org/" target="_blank"><img src="/assets/images/adepticongeneral-600x600.png" width="125" height="125"/></a>
<a href="https://www.longshanks.org/" target="_blank"><img src="/assets/images/LS_logo.png" width="125" height="125"/></a>
<a href="https://www.pastimes.net/" target="_blank"><img src="/assets/images/pastimesbannerlogo.png" width="125" height="125"/></a>